



// === small devices === //

@media only screen and (max-width: 47em){
    
    #carousel {
        .customize {
            .carousel-item {
                padding: 30px;
                margin-left: 20px;
            }
        }
    }
    
        #myFooter {
        text-align: center;
         .row {
        margin: 0;
    }

       .nav > li > a,
       .navbar-brand {
       padding: 15px 9.5px;
    
    }

        
    .s {
    padding: 2px;
    font-size: 15px;
    background-color: #262626;
    margin: 0px;
    background-size: 50px;
}

     
}
    
    .nav-btn{
        display: block;
    }
    .nav-item{
        display: none
    }
    .nav-tools{
        display: block
    }
    .tool1{
        display: none
    }
    .logo p{
        display: none
    }
    .nav-wrapper ul{
        padding-top: 1.2em;
    }
}

@media screen and (max-width:340px){
    .logo{
        left: 30%;
    }
}



@media only screen and (max-width:960px){
     .footer{
          grid-template-columns: 1fr;
     }
     .footer-copyright {  
         text-align: center;
    
      p {
        margin: 10px;
        color: #6a6a6a;        
        text-align: center;    
    }    
        
      h6 {
        display: none;
    }
}
  
}




@media only screen and (max-width:570px){
    .grid{
        grid-template-columns: 1fr;
    .grid-item{
        height: 50%;
            
    img {
        width: 100%;
    }
    .item-image {
        width: 60px;
        margin-left: 5px;
        height: 60px;
    }
    input {
        display: table;
        margin: auto;
        margin-top: 0px;
    }
            
    .fa-angle-right {
        display: none;
        }
    }
    .grid-item .overlay{
    padding: 1em;
    width: 80%;
    left: 10%;
    height: 80px;
    padding: 1em 2em;
    transition: all 3s ease;
    box-sizing: border-box;
    border: 3px solid white
    }
}    
    
    
    
    
    
.grid-item .overlay h4{
    font-size: 1.2em;
}
    
.grid-item .overlay p{
    font-size: 1em;
}
}





