footer{
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding-top: 5em;
}

a {
    text-decoration: none !important;
    &:hover {
        color: white;
    }
}

footer a{
    color: white;
    text-decoration: none;
}
.footer{
    width: 70%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
.footer-item{
    position: relative;
    height: 10em;
}
.footer .logo-footer svg{
    fill: white !important;
    width: 120px;
}
.logo-footer{
    position: absolute;
    left: 0;
    top: -15%;
}
.logo-footer p{
    position: absolute;
    left: 5%;
    top: 43%;
    color: white;
    font-size: 1.2em;
}
.logo-footer span{
    color: $yellow
}

.footer h4{
    color: rgb(170, 170, 170);
    font-weight: 550;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}
.footer p{
    padding: 0.3em;
}

footer input{
    background-color: $black/2.5;
    border: 0;
    height: 40px;
    width: 70%;
    padding: 0.5em
}
footer input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'karla';
    font-weight: 600;
    letter-spacing: 1px
  }
footer input::-moz-placeholder { /* Firefox 19+ */
    font-family: 'karla';
    font-weight: 600;
    letter-spacing: 1px
  }
footer input:-ms-input-placeholder { /* IE 10+ */
    font-family: 'karla';
    font-weight: 600;
    letter-spacing: 1px
  }
footer input:-moz-placeholder { /* Firefox 18- */
    font-family: 'karla';
    font-weight: 600;
    letter-spacing: 1px
  }
  input{
      color: $grey
  }
  .social{
      display: flex;
      align-items: center;
  }
  .social a{
      display: block;
      width: 40px;
      height: 40px;
      text-decoration: none;
      background-color: $black;
      margin: 0 0.3em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
      font-size: 1.1em;
      transition: $transition
  }
    
    .hvr {
    transition: $transition;
    &:hover {
        .fa-angle-right {
            margin-left: 15px;
        }
    }
    }    
    
.fa-angle-right {
    color:  #f9c606;
    margin-left: 8px;
    position: relative;
    transition: $transition;
}
    

  .arrow1{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $black;
      color: $yellow;
      font-size: 1.5em;
      width: 20%;
      height: 55px;
      position: absolute;
      right: 0;
      top: 18%;
  }

  .footer-copyright {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
        
    p {
    margin: 10px;
    color: #6a6a6a;    
    display: inline-block;
    margin-left: 130px;

    }
        
    h6 {
    text-align: right;
    float: right;
    clear: both;
    margin: 10px;
    color: #6a6a6a;  
    margin-right: 132px;
    }
        
    div {
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: #6a6a6a;
    }
}